.site-nav {
  display: none;
  

@include breakpoint(medium) {
  display: flex;
  float: right;
  margin-top: 1.75rem;
}

  .nav-item {
    margin-left: 2.5rem;

    &:first-child { margin-left: 0; }
  }
  .nav-link {
    padding: 0;
    font-size: 18px;
    color: $brand-lilac-color;
    text-decoration: none;

    &:hover {
      text-decoration: none;

      &:after {
        content: '';
        display: block;
        border-bottom: 2px solid $brand-green-color;
      }
    }

    &.active {
      color: $brand-green-color;

      &:after {
        content: '';
        display: block;
        border-bottom: 2px solid $brand-green-color;
      }
    }
  }
}

.mobile-menu-btn {
  position: relative;
  display: block;
  float: right;
  margin-top: 3rem;
  height: 12px;
  width:30px;
  background-color: $brand-green-color;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  cursor: pointer;

  @include breakpoint(small) {
    margin-top: 2rem;
  }
  
  @include breakpoint(medium) {
    display: none;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    width: 30px;
    background-color: $brand-green-color;
  }

  &:before { top: -8px; }
  &:after { bottom: -8px; }

  &:hover, &:focus {
    background-color: $brand-lilac-color;
    &:before, &:after {
      background-color: $brand-lilac-color;
    }
  }
}

.mobile-menu-close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    width: 30px;
    background-color: $white-color;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.mobile-nav {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 5;
  background-image: url('/images/diagonal-pattern.png'), linear-gradient(45deg, $brand-lilac-color 20%, #99d9e7 100%);
  background-size: 9px, 100%;
  transform: translateX(100%);
  transition: transform 300ms ease-out;

  &.active {
    transform: translateX(0);
  }

  @include breakpoint(medium) {
    display: none !important;
  }

  ul {
    list-style: none;
    margin: 2rem auto;
    width: 85%;
    padding: 0;

    li {
      border-bottom: 2px dotted #fff;
      padding: .5rem 0;
      a {
        display: block;
        padding: 1rem 2rem;
        font-size: 36px;
        font-weight: 600;
        color: $white-color;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:hover, &:focus, &:active {
          color: $brand-green-color;
          background-color: $white-color;
          text-decoration: none;
        }
      }
    }
  }
}