.section-intro {
  margin-bottom: 2rem;
  h2 {
    margin-bottom: .5rem;
    font-size: 30px;
    font-weight: $font-weight-semibold;
    color: $brand-lilac-color;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include breakpoint(small) {
      font-size: 42px;
    }
  }

  p {
    font-size: 18px;
    font-weight: $font-weight-normal;
    color: $medium-grey-color;

    @include breakpoint(small) {
      font-size: 21px;
    }
  }
}


.testimonial {
  background-image: url('../images/diagonal-pattern.png'), linear-gradient(45deg, $brand-lilac-color 20%, #99d9e7 100%);
  background-size: 9px, 100%;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 45px;
  margin-top: 50px;
  margin-bottom: 50px;

  @include breakpoint(small) {
    padding-top: 100px;
    padding-bottom: 90px;
  }

  h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1rem;

    @include breakpoint(small) {
      font-size: 48px;
      margin-bottom: 1.5rem;
    }
  }

  .body-text--intro {
    font-size: 22px;
    font-weight: 400;
    color: $white-color;

    @include breakpoint(small) {
      font-size: 26px;
    }
  }

  p {
    font-size: 18px;

    @include breakpoint(small) {
      font-size: 22px;
    }
  }
}

.mailing-list {
  margin-top: 50px;
  padding: 50px 0;
  background-color: $brand-lilac-color;
  color: $white-color;

  h2 { color: $white-color; }

  p { font-size: 18px; }
}

.instagram ul {
  padding: 0;
  overflow: auto;

  li {
    list-style: none;
    float: left;
    width: 50%;
    overflow: hidden;
    max-height: 200px;

    @include breakpoint(small) {
      max-height: 220px;
      width: 25%;
    }

    @include breakpoint(medium) {
      max-height:280px;
    }

    img {
      width: 100%;
    }
  }
}

.questionnaire-wrapper {
  
  h3 {
    margin-top: 50px;
    color: $brand-green-color;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

  input[type="date"] {
    font-size: 1rem;
  }
}

.contact-form-wrapper {
  margin-top: 50px;

  @include breakpoint(small) {
    margin-top: 150px;
  }
}