h1, h2, h3, h4, p, ul, ol, blockquote, table {
  margin-bottom: 1.25rem;

  @include breakpoint(small) {
    margin-bottom: 1.5rem;
  }
}

h1,h2,h3,h4 {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: $font-weight-semibold;
}

h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 46px;
  letter-spacing: 3px;
  color: $brand-green-color;

  @include breakpoint(small) {
    font-size: 58px;
  }
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 3px;
  color: $brand-lilac-color;

  @include breakpoint(small) {
    font-size: 42px;
  }
}

.body-text {
  &--intro {
    font-size: 1.15rem;
    font-weight: $font-weight-semibold;
    color: $brand-lilac-color;
    line-height: 1.3;
    letter-spacing: .5px;

    @include breakpoint(small) {
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }
  &--medium {
    font-size: 1rem;
    line-height: 1.3;

    @include breakpoint(small) {
      font-size: 1.15rem;
      line-height: 1.5;
    }
  }
}

p {
  font-size: 18px;
}

a {
  color: $brand-green-color;

  &:hover, &:focus {
    color: $brand-green-color;
  }
}
